#App {
  width: 100vw;
  height: 100vh;
  background: #050214;
  color: white;
}


.button-undo {
  position: absolute;
  margin: 2rem;
  padding: 1rem;
  width: 8rem;
  border: none; 
  cursor: pointer;
  border-radius: 4px;
  font-family: arial;
  font-size: 1.2rem;
  font-weight: bold;
}

.button-redo {
  position: absolute;
  margin: 2rem;
  margin-left: 12rem;
  padding: 1rem;
  width: 8rem;
  border: none; 
  cursor: pointer;
  border-radius: 4px;
  font-family: arial;
  font-size: 1.2rem;
  font-weight: bold;
}